<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>asci-art-web</title>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>

<body>
  <div class="menu">
    <main>
      <h1>ascii-art-web</h1>
      <form method="post" action="/ascii-art">

        <textarea name="user_input" class="form__field" id="input" placeholder="Text" required maxlength="1000"></textarea>

        <fieldset>
          <legend><h2>Choose a style</h2></legend>
          {{range $i,$v := .}}
          <input type="radio" name="style" value="{{.}}" id="{{.}}" required="" {{if  eq $i 0 }} checked {{end}} >
          <label for="{{.}}">{{.}}</label>
          {{end}}
        </fieldset>

        <button id="mon-button" type="submit"><strong>Generate Ascii-art</strong></button>
      </form>
    </main>

    <footer>
      <p>NO-Copyright</p>
    </footer>
  </div>
</body>

</html>
